<!DOCTYPE html>
<html lang="en">
<head>
    <title>Editor de Pseudo-Código</title>
    <meta charset="utf-8" />
    <style type="text/css" media="screen">
        #titulo {
            position: absolute;
            top: 0;
            right: 0;
            height: 40px;
            left: 0;
            background-color: #272822;
            color: white;
            font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
        }

        #editor {
            position: absolute;
            top: 40px;
            right: 50%;
            bottom: 30px;
            left: 0;
        }

        #console {
            position: absolute;
            top: 40px;
            right: 0;
            left: 50%;
            bottom: 30px;
            background-color: #272822;
            color: white;
            font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
        }

        #entrada {
            background-color: black;
            border: solid 0px green;
            border-bottom: solid 1px green;
            color: #4AF626;
            font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
        }

        #conteudo {
            position: absolute;
            top: 25px;
            right: 10px;
            left: 10px;
            bottom: 10px;
            overflow-y: scroll;
            background-color: black;
            border: solid 1px green;
            color: #4AF626;
            font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
        }

        #rodape {
            position: absolute;
            height: 30px;
            right: 0;
            bottom: 0;
            left: 0;
            overflow-y: none;
            background-color: #272822;
            color: gray;
            font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
        }

        .botao-hacker {
            background-color: black;
            border: #4AF626 1px solid;
            color: #4AF626;
            margin-left: 10px;
        }

        .informacao {
            padding: 20px;
            background-color: #0d3e0c;
            color: white;
            margin-bottom: 15px;
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            display: none;
            z-index: 10000;
        }

        .botao-fechar {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

            .botao-fechar:hover {
                color: black;
            }
    </style>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
            integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
            crossorigin="anonymous">
    </script>
</head>
<body>
    <div id="titulo">
        <h3>Editor Online de Pseudo-Código</h3>
    </div>
    <div id="editor">
        algoritmo "teste"

        var
        n1, n2, soma: inteiro

        funcao multiplicaPor2 (valor:inteiro)
        var
        teste1:inteiro
        inicio
        teste1 := 2
        teste1 := valor * teste1
        fimfuncao

        inicio
        escreva("Digite o primeiro número..: ")
        leia(n1)

        escreva("Digite o segundo número...: ")
        leia(n2)

        soma := (n1 + n2)

        escreval("Número 1..................: ", n1)
        escreval("Número 2..................: ", n2)
        escreval("Soma......................: ", soma)
        escreval("Subtração.................: ", n1-n2)
        escreval("Multiplicação.............: ", n1*n2)
        escreval("Multiplica por 2..........: ", multiplicaPor2(n1))
        se (n2 > 0) entao
        escreval("Divisão...................: ", n1/n2)
        escreval("Módulo....................: ", n1 mod n2)
        senao
        escreval("Divisão...................: FALHA")
        escreval("Módulo....................: FALHA")
        fimse
        escreval("Igual.....................: ", n1 = n2)
        escreval("Maior que.................: ", n1 > n2)
        escreval("Menor que.................: ", n1 < n2)
        escreval("Entre 0 e 5...............: ", n1 >= 0 e n1 <= 5)
        escreval("Entre 5 e 15..............: ", n1 >= 5 e n1 <= 15)

        escreva("Contar até 10.............:")
        n1 := 0

        enquanto (n1 < 5) faca
        escreva(" ", n1 + 1)
        n1 := n1 + 1
        fimenquanto

        repita
        escreva(" ", n1 + 1)
        n1 := n1 + 1
        ate (n1 = 10)

        escreval("")

        escreva("Contagem regressiva.......:")

        n1 := n2

        se (n1 > 50) entao
        n1 := 50
        fimse

        enquanto (n1 >= 0) faca
        escreva(" ", n1)
        n1 := n1 - 1
        fimenquanto

        escreval("")

        fimalgoritmo
    </div>
    <div id="console">
        <button class="botao-hacker" onclick="executar(); return false;">Executar</button>
        <pre id="conteudo"></pre>
    </div>
    <div class="informacao">
        <span class="botao-fechar" onclick="this.parentElement.style.display='none';">&times;</span>
        VERSÃO ALPHA - APÓS ALGUMAS HORAS DE INATIVIDADE A CONEXÃO É INTERROMPIDA, PRECISANDO RECARREGAR A PÁGINA
        <br />
        (O interpretador não reconhece comentários no código ainda)
        <br />
        <br />
        <b>Informações do projeto:</b><br />
        O Editor de Texto utilizado é o ACE encontrado no site https://ace.c9.io/. <br />
        Esta página contém trabalhos derivados do projeto ACE.<br />
        <br />
        &nbsp;&nbsp;Copyright (c) 2012, Ajax.org B.V.<br />
        &nbsp;&nbsp;All rights reserved.<br />
        <br />
        O Interpretador de Pseudo-Código é baseado no Projeto Humberto Costa | Interpretador de Pseudo-Código encontrado no site https://github.com/humbertocsjr/hcipc<br />
        <br />
        &nbsp;&nbsp;Copyright (c) 2020<br />
        &nbsp;&nbsp;Humberto Costa dos Santos Junior.  All rights reserved.<br />
        &nbsp;&nbsp;This product includes software developed by Humberto Costa dos Santos Junior and its contributors.<br />
    </div>
    <div id="rodape">
        <button class="botao-hacker" onclick="$('.informacao').show(); return false;">Informações</button>
    </div>
    <script src="Scripts/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/hcpc");

        var conex = new WebSocket("wss://humbertocsjr.dev.br:1990");
        conex.onmessage = function (evento) {
            var dados = JSON.parse(evento.data);
            switch (dados.Tipo) {
                case "escreva":
                    {
                        var theDiv = document.getElementById("conteudo");
                        var content = document.createTextNode(dados.Mensagem);
                        theDiv.appendChild(content);
                        theDiv.scrollTop = theDiv.scrollHeight;
                    }
                    break;
                case "erro":
                    {
                        var theDiv = document.getElementById("conteudo");
                        var content = document.createTextNode("ERRO: Linha: " + dados.Linha.toString() + " Coluna: " + dados.Coluna.toString() + " - " + dados.Mensagem);
                        theDiv.appendChild(content);
                        theDiv.scrollTop = theDiv.scrollHeight;
                    }
                    break;
                case "leia":
                    {
                        var theDiv = document.getElementById("conteudo");
                        var content = document.createElement("input");
                        content.setAttribute("type", "text")
                        content.setAttribute("id", "entrada")
                        content.addEventListener("keypress", function () { if (event.keyCode == 13) { responderLeia(); } return false; });
                        theDiv.appendChild(content);
                        content.focus();
                        theDiv.scrollTop = theDiv.scrollHeight;
                    }
            }
        }

        function responderLeia() {
            var campo = document.getElementById("entrada");
            var theDiv = document.getElementById("conteudo");
            content = document.createTextNode(campo.value + "\n");
            theDiv.appendChild(content);
            theDiv.scrollTop = theDiv.scrollHeight;
            conex.send(JSON.stringify(
                {
                    "Tipo": "entrada",
                    "Mensagem": campo.value
                }));
            campo.remove();
        }

        function executar() {
            var theDiv = document.getElementById("conteudo");
            var content = document.createTextNode("\n");
            theDiv.appendChild(content);
            conex.send(JSON.stringify(
                {
                    "Tipo": "codigo",
                    "Codigo": editor.getValue()
                }));

            conex.send(JSON.stringify(
                {
                    "Tipo": "executar"
                }));
        }
    </script>
</body>
</html>

